.header{
    display: flex;
    justify-content: space-around;
    background-color: gray;
    padding: 2rem;
    text-align: center;
    img{
        width: 3%;
    }
}

.header nav ul{
    list-style-type: none;
    margin:0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap:1rem;
    margin-top: 1rem;
}

.header nav ul a{
    color: white;
}
